<% layout('../layout') -%>
<div id="headerPush"></div>
<main id="webMenu">
	<section class="projectSort">
		<h2 class="col-md-10">Web Projects</h2>
		<form role="form" class="col-md-2">
			<select class="form-control">
				<option selected>Most Recent</option>
				<option>Alphabetical</option>
			</select>
		</form>
	</section>
	<section class="projects col-xs-12">
		<article id="portlight" class="col-xs-12">
			<div class="imgContainer col-md-7">
				<img src="/assets/images/web/portlight_th.jpg">
			</div>
			<div class="projectSummary col-md-5">
				<h3>Portlight<br><small>Online Retailer</small></h3>
				<h4><a href="http://www.goportlight.com/">www.goportlight.com</a></h4>
				<button class="btn btn-primary col-xs-12" type="button">View Project</button>
				<div class="codeDependencies col-xs-12 text-center">
					<ul>
						<li>
							<img src="/assets/images/logos/html5.png">
						</li>
						<li>
							<img src="/assets/images/logos/css3.gif">
						</li>
						<li>
							<img src="/assets/images/logos/sass.png">
						</li>
						<li>
							<img src="/assets/images/logos/js.png">
						</li>
						<li>
							<img src="/assets/images/logos/node.png">
						</li>
						<li>
							<img src="/assets/images/logos/express.png">
						</li>
						<li>
							<img src="/assets/images/logos/mongodb.png">
						</li>
						<li>
							<img src="/assets/images/logos/mysql.png">
						</li>
					</ul>
				</div>
				<p>
					Worked as the Creative Director for Portlight, LLC. where I directed and developed their E-Commerce Website.
					<br><br>
					At Portlight, we are dedicated to our partners' e and m-commerce potential and improving the shopping experience for customers around the world.
				</p>
			</div>
		</article>
		<article id="quire" class="col-xs-12">
			<div class="imgContainer col-md-7">
				<img src="/assets/images/web/quireBlog_th.jpg">
			</div>
			<div class="projectSummary col-md-5">
				<h3>Quire Blog<br><small>Simple Blog Site</small></h3>
				<!-- <h4><a href="http://www.goportlight.com/">www.goportlight.com</a></h4> -->
				<button class="btn btn-primary col-xs-12" type="button">View Project</button>
				<div class="codeDependencies col-xs-12 text-center">
					<ul>
						<li>
							<img src="/assets/images/logos/html5.png">
						</li>
						<li>
							<img src="/assets/images/logos/css3.gif">
						</li>
						<li>
							<img src="/assets/images/logos/sass.png">
						</li>
						<li>
							<img src="/assets/images/logos/js.png">
						</li>
						<li>
							<img src="/assets/images/logos/node.png">
						</li>
						<li>
							<img src="/assets/images/logos/express.png">
						</li>
						<li>
							<img src="/assets/images/logos/mongodb.png">
						</li>
					</ul>
				</div>
			</div>
		</article>
		<article id="hollyDev" class="col-xs-12">
			<div class="imgContainer col-md-7">
				<img src="/assets/images/web/hollyDev_th.jpg">
			</div>
			<div class="projectSummary col-md-5">
				<h3>Holly Dev<br><small>A study in Rich Media Optimization</small></h3>
				<!-- <h4><a href="http://www.goportlight.com/">www.goportlight.com</a></h4> -->
				<button class="btn btn-primary col-xs-12" type="button">View Project</button>
				<div class="codeDependencies col-xs-12 text-center">
					<ul>
						<li>
							<img src="/assets/images/logos/html5.png">
						</li>
						<li>
							<img src="/assets/images/logos/css3.gif">
						</li>
						<li>
							<img src="/assets/images/logos/sass.png">
						</li>
						<li>
							<img src="/assets/images/logos/js.png">
						</li>
					</ul>
				</div>
			</div>
		</article>
		<article id="orchidAcademy" class="col-xs-12">
			<div class="imgContainer col-md-7">
				<img src="/assets/images/web/orchidAcademy_th.jpg">
			</div>
			<div class="projectSummary col-md-5">
				<h3>The Orchid Academy<br><small>Online Classes</small></h3>
				<!-- <h4><a href="http://www.goportlight.com/">www.goportlight.com</a></h4> -->
				<button class="btn btn-primary col-xs-12" type="button">View Project</button>
				<div class="codeDependencies col-xs-12 text-center">
					<ul>
						<li>
							<img src="/assets/images/logos/html5.png">
						</li>
						<li>
							<img src="/assets/images/logos/css3.gif">
						</li>
						<li>
							<img src="/assets/images/logos/sass.png">
						</li>
						<li>
							<img src="/assets/images/logos/js.png">
						</li>
						<li>
							<img src="/assets/images/logos/actionscript.png">
						</li>
					</ul>
				</div>
			</div>
		</article>
	</section>
</main>